<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Users</title>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/EditProfile.css}" rel="stylesheet"/>
</head>

<body>

<div th:replace="fragments/header :: header"/>
<div class="cpr"
     style="background-image:url(https://aftermarket.zf.com/media/master/graphs-and-illustrations/zfa_online_shop_bs_32_xl_6.jpg?v=1163849182)"
     ;>

    <div class="container">
        <br>
        <br>
        <br>
        <br>

        <div class="container flex-fill shadow-lg p-3 mb-5"
             style="background-color: rgba(255, 255, 255, 0.95);; border-radius:25px;overflow:hidden;">
            <form action="#" th:action="@{/UpdateUser}" th:object="${user}" method="post">

                <div class="userCurrentInfo">
                    <h5 class="currentInfo">Current Role: </h5>
                    <h5 th:text="${user.role}"></h5>
                </div>

                <div class="editProfileInput-Container">
                    <label class="labels">Role</label>
                    <input type="text" th:field="*{role}" class="editProfileField" name="role"
                           placeholder="Enter userRole here" required="required"/>
                </div>

                <button class="editProfileButtons" type="submit">Update UserRole</button>
                <input type="hidden" th:field="*{id}"/>
                <br><br>
                <a class="fas fa-arrow-circle-left" th:href="@{/UsersManagement}">Back to UserManagementPage</a>
            </form>
        </div>
        <hr/>

        <div th:replace="fragments/footer :: footer"/>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous">
        </script>

        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous">
        </script>

        <script src=" https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous">
        </script>
    </div>
</div>
</body>
</html>
