<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>ShopApp UsersManagement</title>
    <div th:replace="fragments/header :: header-css"/>

</head>
<body class="d-flex flex-column" style="min-height:100vh;">


<div th:replace="fragments/header :: header"/>

<div class="cpr" style="background-image:url(https://aftermarket.zf.com/media/master/graphs-and-illustrations/zfa_online_shop_bs_32_xl_6.jpg?v=1163849182)";>

    <br><br><br><br><br>

    <div class = "container flex-fill shadow-lg p-3 mb-5" style="background-color: rgba(255, 255, 255, 0.95);; border-radius:25px;overflow:hidden;">

            <h2 sec:authorize = "isAuthenticated()">Welcome <span sec:authentication="name">Welcome</span></h2>

            <br>

            <h3 style = "text-align:center;">Users List</h3>
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                <tr>
                    <th >#</th>
                    <th>UserName</th>
                    <th>FullName</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th sec:authorize="hasAuthority('ADMIN')" >Actions</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="aUser: ${listOfUsers}">
                    <td th:text="${aUser.id}" />


                    <td th:text="${aUser.username}" />
                    <td th:text="${aUser.fullName}" />
                    <td th:text="${aUser.address}" />
                    <td th:text="${aUser.email}" />
                    <td th:text="${aUser.role.name}" />
                    <td class = "adminButtonGroup" sec:authorize="hasAuthority('ADMIN')">

                        <form th:action="@{/UsersManagement/{id}(id=${aUser.id})}" th:object="${aUser}" method="post">
                            <button class="btn btn-danger" type="submit" data-target="#userId" style = "width: 100%;">Delete</button>
                        </form>
                        <br>

                        <a th:href="@{/showUpdateForm(userId=${aUser.id})}" style="width: 100%" class="btn btn-info">Update</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

<script src = "https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity = "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin = "anonymous">
</script>


<script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity = "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin = "anonymous">
</script>


<script src =" https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity = "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin = "anonymous">
</script>
</body>
</html>
